
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500&display=swap');
header {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/fon.jpg);
    background-size: cover;
}
.navbar-containers {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.69);
}
.navbar-container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
.navbar {
    margin: auto;
    max-width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo__img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.logo__text {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}
.menu__ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.li__a {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}
.li__a:hover {
   
    color: rgb(0, 0, 0);
    text-shadow: 1px 0 1px rgb(255, 255, 255), 
    0 1px 1px rgb(255, 255, 255), 
    -1px 0 1px rgb(255, 255, 255), 
    0 -1px 1px rgb(255, 255, 255);
    transition: 0.5s all;
}
.burgerMenu {
    display: none;
}

/* TEXT */
.container {
    width: 100%;
    height: 100%;
    font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #ffff;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #ffff;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #770040;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #560045;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

@media (max-width: 820px) {
    .menu__ul {
        display: none;
    }
    .burgerMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 2;
        padding: 10px;
        overflow: hidden;
    }

    .burgerMenu span {
        width: 20px;
        height: 2.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        transition: all 0.5s;
    }

    .burgerMenu span:nth-of-type(2) {
        top: calc(50% - 8px);
    }

    .burgerMenu span:nth-of-type(3) {
        top: calc(50% + 8px);
    }

    .menu__ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        background-repeat: no-repeat;
        transform: translateX(100%);
        transition: transform 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__ul.active {
        transform: translateX(0);
    }

    .burgerMenu.active span:nth-of-type(1) {
        display: none;
    }

    .burgerMenu.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .burgerMenu.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    .navbar__img-mobile {
        display: block;
        margin-bottom: 52px;
    }

    .menu__li {
        margin-bottom: 11px;
    }

    .menu__li:nth-of-type(5n + 5) {
        margin-bottom: 52px;
    }
    .li__a {
        font-weight: 400;
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .logo__img {
        width: 40px;
        height: 40px;
        margin-right: 30px;
    }
}
